@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: 'Open Sans', sans-serif;
}

body {
  font: 12px 'Open Sans', sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

$tab:#999999;

.instructions {
  text-align: center;
  color: $tab;
}

//.tabrow {
//  margin: 0px;
//  margin-top: 10px;
//  text-align: center;
//  list-style: none;
//  padding: 0;
//  line-height: 24px;
//  height: 26px;
//  overflow: hidden;
//  font-size: 12px;
//  position: relative;
//}

$gradbottom: #fdfeff;
$gradtop: #c3e3f9;
$gradtab: bottom, $gradtop 50%, $gradbottom 100%;
$btncolor: top, lightgray 50%, #909090 100%;
$gradborder: lightgray;
$gradback: #D1D1D1;
@mixin bg($gradtab) {
  background: -o-linear-gradient($gradtab);
  background: -ms-linear-gradient($gradtab);
  background: -moz-linear-gradient($gradtab);
  background: -webkit-linear-gradient($gradtab);
  background: linear-gradient($gradtab);
}
$tabselected:gray;
$opacityOfTop:.9;
$tabpaddingtext:2;
$tabtop:5;
.tabrow {
  opacity: $opacityOfTop;
  position:fixed;
  width:100%;
  z-index: 1;
  background: white;
  text-align: center;
  .tab {
    padding-top: #{$tabtop}px;
    display: inline-block;
    width: 50%;
    margin-left: -1px;
    div {
      border-right: 1px solid $tab;
      padding: #{$tabpaddingtext}px;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: $tab;
    }
    &:last-child div {
      border-right: 0px;
      padding: 5px;
    }


}




  .tab.selected div {
    color: $tabselected;
  }
  .tab.selected {
    border-bottom: 4px solid $tabselected;
  }
}
$groupheight:48;
$grouptop:28+$tabtop+2*$tabpaddingtext;

#groupBackground{
  opacity: $opacityOfTop;
  position: fixed;
  top: #{$grouptop}px;
  @include bg($gradtab);
  width: 100%;
  height: #{$groupheight - 8}px;
  z-index: 1;
}
.group input,button.btn {
  position: fixed;
  z-index: 1;
  display: none;
  top: #{$grouptop}px; }
button.btn{
  padding: 4px 8px;
  top:#{$grouptop + 2}px;
  font-size: 18px;
  left:240px;
}

.postfield {
  height: 200px;
}

//.tabrow a {
//  color: #555;
//  text-decoration: none;
//}
//
//.tabrow li.selected {
//  background: #FFF;
//  color: #333;
//  z-index: 2;
//  border-bottom-color: #FFF;
//}

@mixin profiles($device, $n) {
  $profile_width: ($device - $n + 1)/ $n;
  $profileoffset: $device - floor($profile_width) * $n - $n - 1;

  $fl_width: ($device - ($n)*17)/ $n;
  div:nth-child(#{$n}n+#{$n}) {
    padding-right: 0px;
  }
  .profiles {
    div {
      width: floor($profile_width);
      height: floor($profile_width);
    }
    img {
      width: floor($profile_width);
      height: floor($profile_width);
    }
  }

  .friendlist div {
    width: $fl_width;
  }
  @for $var from 1 through $profileoffset {
    div:nth-child(#{#{$n}n+#{$var}}) {
      width: round($profile_width)+1;
    }
    img:nth-child(#{#{#{$n}n+#{$var}}}) {
      width: round($profile_width)+1;
    }
  }

}

.clear_animation {
  clear: both;
  transition: 1s;
}

.hidden {
  height: 0px;
  display: none;
}

#friendlistSection {
  padding-top: #{$groupheight - 22}px;
  @extend .clear_animation;
  &.hidden {
    @extend .hidden;
  }

}

.name {
  margin: 1px;
}

.title {
  font-size: 30px;
}

.initialhide {
  visibility: hidden;
}

.inactive {
  opacity: .2;
}

.rightButtonContainer {
  padding: 6px;
  text-align: right;
  .btn {
    @extend .smallerButton;
  }
}

.btn {
  font-family: 'Open Sans', sans-serif;
  @include bg($btncolor);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #505050;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0px;
}

#loadbar {
  margin: 10px;
  position: relative;
  background: cornflowerblue;
  height: 20px;
  border-radius: 6px;
}

#loadtext {
  overflow: visible;
  width: 320px;
  background: transparent;
  padding: 3px;
  padding-left: 10px;
  color: white;
}

#loading {
  width: 0%;
  position: absolute;
  top: 0px;
  height: 100%;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(left, #1e5799, #2980b9);
  background-image: -moz-linear-gradient(left, #1e5799, #2980b9);
  background-image: -ms-linear-gradient(left, #1e5799, #2980b9);
  background-image: -o-linear-gradient(left, #1e5799, #2980b9);
  background-image: linear-gradient(to right, #1e5799, #2980b9);
}

.dimensions_container {
  height: 18px;
  padding: 6px;
}

#friendlistSection,#postingSection{
  position:relative;
  top:#{$groupheight - 5}px;
  bottom:0px;
}
#postingSection {
  textarea {
    width: 100%;
    height: 60%;
  }
  button {
    margin: 0px 6px;
  }
  @extend .clear_animation;
}

.center {
  vertical-align: middle;
  height: 100%;
  margin: 0 auto;
  width: auto;
  color: lightgoldenrodyellow;
  &, .center_container {
    text-align: center;
    height: 100%;
  }
}

.profiles {
  clear: both;

  //to obtain height of profile
  &:after {
    clear: both;
    content: "";
    display: block;
  }
  span {
    bottom: 1px;
    position: absolute;
    color: white;
    font-size: 14px;
    letter-spacing: 0px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 2px;
    transition: 1s;
  }
  div:hover span {
    opacity: 0;
  }
  div {
    float: left;
    width: 127px;
    height: 127px;
    overflow: auto;
    position: relative;
    padding: 1px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  img {
    width: 127px;
    height: 127px;
  }
}

.friendlist {
  clear: both;
  padding: 0px 6px 10px 2px;
  div {
    overflow: auto;
    position: relative;
    @extend .btn;
    margin: 2px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: lightgray solid 1px;
    float: left;
    height: 18px;
    overflow: hidden;
    &.selectedFriendList {
      background: -webkit-linear-gradient(top, darkblue 15%, #000FCA 100%);
      color: white;
    }
    &:last-child {
      clear: right;
    }
  }
}

.confirmPost {
  float: left;
  padding-left: 3px;
  font-weight: 500;
}

.logo {
  background: url('pond_fish copy.jpg');
  background-size: 100% auto;
  .btn {
    $logobuttoncolor: lightgoldenrodyellow;
    $logobuttonhover: lightgreen;
    color: $logobuttoncolor;
    background-color: transparent;
    background: transparent;
    border: 1px solid $logobuttoncolor;
    &:hover {
      color: $logobuttonhover;
      background-color: transparent;
      background: transparent;
      border: 1px solid $logobuttonhover;
    }
  }
}

.smallerButton {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 6px 12px 6px 12px;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  border: 0px;
}

.group {
  clear: both;
  input {
    height: 32px;
    border-radius: 13px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 5px;
    padding: 0px 5px;
    width: 225px;
  }
  .friendlistMade {
    @extend .dimensions_container;
  }

  .groupTitle {
    font-size: 18px;
    @extend .dimensions_container;
  }
  .create_group {
    clear: both;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
    @extend .smallerButton;

  }
}
#loadingImage,#loadingMessage{
  margin:0 auto;
  display: block;
  padding:20px;
  text-align: center;
}


@media screen and (min-device-width: 539px) and (max-device-width: 541px) and (-webkit-min-device-pixel-ratio: 2) {
  $device1080p: 540;
  @include profiles($device1080p, 4);
}

@media screen and (min-device-width: 383px) and (max-device-width: 592px) and (-webkit-min-device-pixel-ratio: 2/1) {
  $nexus: 384;
  @include profiles($nexus, 3);
}

@media screen and (min-device-width: 319px) and (max-device-width: 382px) and (-webkit-min-device-pixel-ratio: 2) {
  $iphone: 320;
  @include profiles($iphone, 3);
  .create_group {
    button.btn {
      padding: 7px 8px;
      font-size: 12px;
      padding:5px;
      left: 210px;
    }
  }
  .group input {
    font-size: 15px;
    height: 28px;
    width: 180px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .logo {
    background: url('pond_fish.jpg')
  }
}

