@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'Open Sans', sans-serif; }

body {
  font: 12px 'Open Sans', sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 0; }

.instructions {
  text-align: center;
  color: #999999; }

.tabrow {
  opacity: 0.9;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: white;
  text-align: center; }
  .tabrow .tab {
    padding-top: 5px;
    display: inline-block;
    width: 50%;
    margin-left: -1px; }
    .tabrow .tab div {
      border-right: 1px solid #999999;
      padding: 2px;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: #999999; }
    .tabrow .tab:last-child div {
      border-right: 0px;
      padding: 5px; }
  .tabrow .tab.selected div {
    color: gray; }
  .tabrow .tab.selected {
    border-bottom: 4px solid gray; }

#groupBackground {
  opacity: 0.9;
  position: fixed;
  top: 37px;
  background: -o-linear-gradient(bottom, #c3e3f9 50%, #fdfeff 100%);
  background: -ms-linear-gradient(bottom, #c3e3f9 50%, #fdfeff 100%);
  background: -moz-linear-gradient(bottom, #c3e3f9 50%, #fdfeff 100%);
  background: -webkit-linear-gradient(bottom, #c3e3f9 50%, #fdfeff 100%);
  background: linear-gradient(bottom, #c3e3f9 50%, #fdfeff 100%);
  width: 100%;
  height: 40px;
  z-index: 1; }

.group input, button.btn {
  position: fixed;
  z-index: 1;
  display: none;
  top: 37px; }

button.btn {
  padding: 4px 8px;
  top: 39px;
  font-size: 18px;
  left: 240px; }

.postfield {
  height: 200px; }

.clear_animation, #friendlistSection, #postingSection {
  clear: both;
  transition: 1s; }

.hidden, #friendlistSection.hidden {
  height: 0px;
  display: none; }

#friendlistSection {
  padding-top: 26px; }

.name {
  margin: 1px; }

.title {
  font-size: 30px; }

.initialhide {
  visibility: hidden; }

.inactive {
  opacity: .2; }

.rightButtonContainer {
  padding: 6px;
  text-align: right; }

.btn, .friendlist div {
  font-family: 'Open Sans', sans-serif;
  background: -o-linear-gradient(top, lightgrey 50%, #909090 100%);
  background: -ms-linear-gradient(top, lightgrey 50%, #909090 100%);
  background: -moz-linear-gradient(top, lightgrey 50%, #909090 100%);
  background: -webkit-linear-gradient(top, lightgrey 50%, #909090 100%);
  background: linear-gradient(top, lightgrey 50%, #909090 100%);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #505050;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0px; }

#loadbar {
  margin: 10px;
  position: relative;
  background: cornflowerblue;
  height: 20px;
  border-radius: 6px; }

#loadtext {
  overflow: visible;
  width: 320px;
  background: transparent;
  padding: 3px;
  padding-left: 10px;
  color: white; }

#loading {
  width: 0%;
  position: absolute;
  top: 0px;
  height: 100%;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(left, #1e5799, #2980b9);
  background-image: -moz-linear-gradient(left, #1e5799, #2980b9);
  background-image: -ms-linear-gradient(left, #1e5799, #2980b9);
  background-image: -o-linear-gradient(left, #1e5799, #2980b9);
  background-image: linear-gradient(to right, #1e5799, #2980b9); }

.dimensions_container, .group .friendlistMade, .group .groupTitle {
  height: 18px;
  padding: 6px; }

#friendlistSection, #postingSection {
  position: relative;
  top: 43px;
  bottom: 0px; }

#postingSection textarea {
  width: 100%;
  height: 60%; }
#postingSection button {
  margin: 0px 6px; }

.center {
  vertical-align: middle;
  height: 100%;
  margin: 0 auto;
  width: auto;
  color: lightgoldenrodyellow; }
  .center, .center .center_container {
    text-align: center;
    height: 100%; }

.profiles {
  clear: both; }
  .profiles:after {
    clear: both;
    content: "";
    display: block; }
  .profiles span {
    bottom: 1px;
    position: absolute;
    color: white;
    font-size: 14px;
    letter-spacing: 0px;
    background: black;
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 2px;
    transition: 1s; }
  .profiles div:hover span {
    opacity: 0; }
  .profiles div {
    float: left;
    width: 127px;
    height: 127px;
    overflow: auto;
    position: relative;
    padding: 1px;
    padding-left: 0px;
    padding-bottom: 0px; }
  .profiles img {
    width: 127px;
    height: 127px; }

.friendlist {
  clear: both;
  padding: 0px 6px 10px 2px; }
  .friendlist div {
    overflow: auto;
    position: relative;
    margin: 2px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: lightgray solid 1px;
    float: left;
    height: 18px;
    overflow: hidden; }
    .friendlist div.selectedFriendList {
      background: -webkit-linear-gradient(top, darkblue 15%, #000fca 100%);
      color: white; }
    .friendlist div:last-child {
      clear: right; }

.confirmPost {
  float: left;
  padding-left: 3px;
  font-weight: 500; }

.logo {
  background: url("pond_fish copy.jpg");
  background-size: 100% auto; }
  .logo .btn, .logo .friendlist div, .friendlist .logo div {
    color: lightgoldenrodyellow;
    background-color: transparent;
    background: transparent;
    border: 1px solid lightgoldenrodyellow; }
    .logo .btn:hover, .logo .friendlist div:hover, .friendlist .logo div:hover {
      color: lightgreen;
      background-color: transparent;
      background: transparent;
      border: 1px solid lightgreen; }

.smallerButton, .rightButtonContainer .btn, .rightButtonContainer .friendlist div, .friendlist .rightButtonContainer div, .group .create_group {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 6px 12px 6px 12px;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  border: 0px; }

.group {
  clear: both; }
  .group input {
    height: 32px;
    border-radius: 13px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 5px;
    padding: 0px 5px;
    width: 225px; }
  .group .groupTitle {
    font-size: 18px; }
  .group .create_group {
    clear: both;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px; }

#loadingImage, #loadingMessage {
  margin: 0 auto;
  display: block;
  padding: 20px;
  text-align: center; }

@media screen and (min-device-width: 539px) and (max-device-width: 541px) and (-webkit-min-device-pixel-ratio: 2) {
  div:nth-child(4n+4) {
    padding-right: 0px; }

  .profiles div {
    width: 134;
    height: 134; }
  .profiles img {
    width: 134;
    height: 134; }

  .friendlist div {
    width: 118; } }
@media screen and (min-device-width: 383px) and (max-device-width: 592px) and (-webkit-min-device-pixel-ratio: 2 / 1) {
  div:nth-child(3n+3) {
    padding-right: 0px; }

  .profiles div {
    width: 127;
    height: 127; }
  .profiles img {
    width: 127;
    height: 127; }

  .friendlist div {
    width: 111; } }
@media screen and (min-device-width: 319px) and (max-device-width: 382px) and (-webkit-min-device-pixel-ratio: 2) {
  div:nth-child(3n+3) {
    padding-right: 0px; }

  .profiles div {
    width: 106;
    height: 106; }
  .profiles img {
    width: 106;
    height: 106; }

  .friendlist div {
    width: 89.66667; }

  .create_group button.btn {
    padding: 7px 8px;
    font-size: 12px;
    padding: 5px;
    left: 210px; }

  .group input {
    font-size: 15px;
    height: 28px;
    width: 180px; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .logo {
    background: url("pond_fish.jpg"); } }
