@font-face {
  font-family: rockSalt;
  src: url("RockSalt.ttf"); }

body {
  font-family: "Helvetica Neue",Arial;
  -webkit-font-smoothing: antialiased;
  background: url("images/misc/background.png");
  font-weight: 200; }

.subtitle {
  font-family: RockSalt;
  font-size: 12px;
  color: #878787;
  font-weight: 600; }

.subtitle img:first-child {
  position: relative;
  left: -10px; }

.subtitle img:last-child {
  position: relative;
  left: 5px; }

.mainframe {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: auto; }

.maintitle {
  position: relative;
  margin: auto;
  color: #3634ab;
  text-align: center;
  width: 549px;
  height: 72px;
  font-size: 45px;
  top: 40px;
  font-weight: 400; }

.speechbubble {
  position: absolute;
  left: 400px;
  top: 225px;
  width: 485px;
  height: 66px;
  background: url("images/bubbles containers/speech bubble.png") no-repeat;
  padding-left: 40px;
  font-size: 18px;
  padding-top: 20px; }

.weather_prompt {
  margin: auto; }

.speechbubble input {
  border-radius: 8px;
  height: 28px;
  width: 187px;
  border: 1px solid #868686;
  font-size: 12px;
  font-weight: 300;
  padding: 0px 10px; }

#smallcontainer {
  position: absolute;
  left: 400px;
  top: 308px;
  width: 508px;
  height: 188px;
  background: url("images/bubbles containers/Small Icons Container.png") no-repeat; }

#smallcontainer .contents {
  top: 7px;
  position: relative; }

.day {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #b7b6b6; }

.maintemp {
  font-size: 24px;
  color: #4b4a4a;
  text-shadow: 1px 0px #b7b6b6; }

.othertemp {
  font-size: 18px;
  color: #b7b6b6;
  text-shadow: 1px 0px #b7b6b6; }

#smallcontainer img {
  margin: 5px;
  height: 48px; }

.bigcontainer {
  position: absolute;
  top: 180px;
  left: 98px;
  width: 288px;
  height: 338px;
  background: url("images/bubbles containers/Big%20Icon%20Bubble.png") no-repeat;
  text-align: center; }
  .bigcontainer .data {
    position: relative;
    top: 50px;
    text-align: center; }
  .bigcontainer .day {
    position: relative;
    text-align: center;
    top: 20px; }
  .bigcontainer .date {
    text-align: center;
    position: relative;
    top: 25px;
    font-size: 24px; }
  .bigcontainer .conform {
    top: 15px;
    display: inline-block; }
  .bigcontainer .hr {
    height: 1px;
    background-color: #b7b6b6;
    text-align: center;
    margin: 4px 0px; }
  .bigcontainer .hr span {
    background-color: white;
    position: relative;
    top: -0.5em;
    padding: 0px 10px; }
  .bigcontainer .temp {
    position: relative;
    top: 14px; }
  .bigcontainer .humidity {
    position: relative;
    top: 29px;
    font-size: 14px; }
  .bigcontainer .seperator {
    font-size: 24px;
    color: #b7b6b6; }
  .bigcontainer .imagecontainer {
    top: 48px;
    position: relative;
    height: 125px;
    text-align: center; }
    .bigcontainer .imagecontainer img {
      height: 125px; }
  .bigcontainer .description {
    font-size: 22px;
    text-transform: capitalize; }
  .bigcontainer .maintemp {
    font-weight: 500;
    color: black; }

.smallicon {
  text-align: center;
  float: left;
  position: relative;
  width: 102px;
  height: 138px;
  margin: 25px 0px 0px 20px;
  background: url("images/bubbles containers/Small%20Icon%20Bubble.png") no-repeat; }

.weathericon {
  position: absolute;
  left: -40px;
  top: -20px;
  z-index: -1; }
