- var message = 'Group My Friends'
html
	head
		script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="/javascript/fastclick.js",type="text/javascript")
		script(src="/javascript/sharedJS.js",type="text/javascript")
		script(src="/javascript/groups.js",type="text/javascript")
		link(href="css/friend_organizer.css",type="text/css",rel="stylesheet")
		meta(name="viewport",content="initial-scale=1,maximum-scale=1,user-scalable=no")
		link(href="http://fonts.googleapis.com/css?family=Open%20Sans:400",type="text/css",rel="stylesheet")
	body
		button.friendlistButton Create Friendlist
		button.posting Post
		div#posting.initialhide
			textarea
			div.friendlist
			button.btn Post

- if(typeof(fbObject)==='undefined'){
				div#loadbar
					div#loading
						div#loadtext Pulling data from Facebook
-  }


-  if(typeof(fbObject)==='undefined'||typeof(groups)==='undefined'){
		div
			a friendlist
		script(type="text/javascript").
			var fbObject;
			var friendlist;
			$(document).ready(function(){
				$('#loading').on('transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd', function() {
					$('#loading').css('transition','1s');
					$('#loading').css('width','100%');
				});
				$('#loading').css('transition','!{Math.ceil(loadingPeople/1000*18-1)}s');
				$('#loading').css('width','!{(Math.ceil(loadingPeople/1000*18-1)-1)/Math.ceil(loadingPeople/1000*18)*100}%');
			});
			//gets Friendlist and fbObject
			$.get( "friendinfo",{numberOfFriends:!{loadingPeople},userid:!{userid}},function( friendinfo ) {
				$('#loadtext').html('Making groups');
				fbObject=friendinfo.fbObject;
				friendlist=friendinfo.friendlist;
				//gets Groups
				$.post("makeGroup",{fbObject:JSON.stringify(fbObject),userid:!{userid}},drawGroups).success(function(){
					$('#loadbar').css('opacity',0);
				});
			});
-		} else {
		div#friendlistSection.initialhide
			p(style="padding:0px 6px") <br>Unselect friends by tapping on them.
		script(type="text/javascript").
			var groups=!{groups};
			var friendlist = !{friendlists};
			var fbObject=!{fbObject};
			drawGroups(groups);
			drawPosting(friendlist);

-       }
		script(type="text/javascript").
			$(function() {
				FastClick.attach(document.body);
			});

//			$('#load').css('transition','1s');
//		p Tap on friend to unselect.
//		each group,j in groups
//			-index=j+1
//			div(id="group#{index}",class="group") !{index+'.'}
//				div(class="profiles")
//					each id,i in group
//						div(friend=id,title="#{friends[id].first_name} #{friends[id].last_name}")
//							span #{friends[id].first_name}
//							img(src="#{friends[id].picture}")
//				div.create_group(class="result#{index}")
//					input(placeholder="Name of Group",class="name")
//					button(class="clicker#{index} button") Create Group
//
//				script(type="text/javascript").
//					var friendlist = [!{JSON.stringify(friendlists)}];
//					$(".clicker!{index}").on("click",function(){
//						var idsOfGroup=[];
//						var rejected=[];
//						$("#group!{index} .profiles > *").each(function(){
//							if(!$(this).hasClass("inactive")){
//								idsOfGroup.push($(this).attr("friend"));
//							} else {
//								rejected.push($(this).attr("friend"));
//							}
//						});
//						var groupname = $("#group!{index} input").val();
//						if(groupname){
//							$.post( "friendlist", {name:groupname,id:idsOfGroup,rejected:rejected,friendlists:friendlist},function( data ) {
//								$(".result!{index}").html(data);
//							});
//						} else {
//							alert("please enter groupname");
//						}
//					});
//		script(type="text/javascript").
//			$(".profiles").on('click','div',function(){
//				$(this).toggleClass("inactive");
//			});
//			var fbObject=!{JSON.stringify(friends)};





