html
	head
		meta(name="viewport",content="initial-scale=1,maximum-scale=1,user-scalable=no")
		link(href="css/friend_organizer.css",type="text/css",rel="stylesheet")
	body
		div.dialog
		img#loadingImage(src="http://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif")
		div#loadingMessage Loading Please Waiting
		div.tabs
			div.tabrow.initialhide
				div#friendlistButton.tab
					div Create Friendlist
				div#postingButton.tab
					div Post

		div#loadbar.initialhide
			div#loading
		div#postingSection.initialhide
			div.confirmPost
			div.rightButtonContainer
				button.btn Post
			textarea.postfield.initialhide //postfield
			div.friendlist
		div#fb-root


	div#friendlistSection.initialhide
		div#groupBackground.initialhide //initialhide
		p(class="instructions")
	script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	script(src="/javascript/viewport.js",type="text/javascript")
	script(src="/javascript/groups.js",type="text/javascript")
	script(src="/javascript/home.js",type="text/javascript")
	script(src="/javascript/sharedJS.js",type="text/javascript")
	script(async,src="/javascript/fastclick.js",type="text/javascript")
